.@{eppre}-editor{
  background-color: @ep-editor-bg;
  position: relative;
  height: 100%;
}
.@{eppre}-panel{
  &-title{
    font-size: 12px;
    font-weight: bold;
    padding: 4px 6px;
    background: #dbdbdb;
  }
  &-content{
    &:after{
      content: '';
      height: 0;
      display: block;
      clear: both;
    }
  }
}
.@{eppre}-side-left{
  position: absolute;
  top: 0;
  left: 0;
  width: @ep-tool-width;
  height: 100%;
  overflow: visible;
  background-color: @ep-panel-bg;
  box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.1);
  &-nav{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 39px;
    text-align: center;
    border-right: 1px solid #ddd;
    &-item{
      transition: .1s ease background-color;
      cursor: default;
      padding: 10px 0;
      font-weight: bold;
    }
    &-active{
      background-color:#dbdbdb;
    }
  }
  &-content{
    position: relative;
    // margin-left: 40px;
    height: 100%;
  }
}
.@{eppre}-side-right{
  position: absolute;
  top: 0;
  right: 0;
  left: @ep-tool-width + @ep-panel-margin;
  height: 100%;
  overflow: visible;
  background-color: @ep-panel-bg;
}
