.@{eppre}-store{
  height: 100%;
  overflow: auto;
  &-more{
    position: absolute;
    right: 0;
    width: 30px;
    text-align: center;
    // display: none;
    &-title{
      position: relative;
      &:hover{
        .ep-store-more-content{
          display: block;
        }
      }
    }
    &-text{
      font-size: 18px;
      font-weight: bold;
      color: #999;
    }
    &-content{
      // display: block;
      background: #fff;
      box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
      position: absolute;
      right: 0;
      z-index: 1;
      display: none;
    }
    &-item{
      width: 60px;
      height: 28px;
      line-height: 28px;
      &:hover{
        background-color: @ep-widget-hover;
      }
    }
  }
  &-dict{
    padding: 6px 0;
    &-btns{
      text-align: center;
      padding: 6px 0;
    }
    &-item{
      cursor: pointer;
      word-break: break-all;
      border-bottom: 1px solid #e5e5e5;
    }
    &-delete{
      display: block;
    }
    &-info{
      padding: 4px 30px 4px 4px;
      position: relative;
      &:hover{
        background-color: @ep-widget-hover;
        .ep-store-more-title{
          display: block;
        }
      }
    }
    &-name{
      color:#666;
      font-weight: bold;
      font-size: 14px;
      .ep-ellipsis();
    }
    &-url{
      color:#999;
      .ep-ellipsis();
    }
    &-api{
      font-size: 12px;
      position: relative;
      padding: 4px 30px 4px 16px;
      &::before{
        content: '.';
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 4px;
        font-weight: bold;
        font-size: 14px;
        color: #999;
      }
      &:hover{
        background-color: lighten(@ep-widget-hover, 1%);
        .ep-store-more{
          display: block;
        }
      }
      &-active{
        &,&:hover {
          background-color: lighten(@ep-widget-active, 1%);
        }
      }
      &-name{
        color:#666;
        font-weight: bold;
        .ep-ellipsis();
      }
      &-url{
        color:#999;
        .ep-ellipsis();
      }
    }
    &-active{
      &, &:hover{
        background-color: @ep-widget-active;
      }
    }
    &-delete{
      position: absolute;
      right: 4px;
      top: 50%;
      transform: scale(0.8),translateY(-50%);
      display: none;
    }
  }
  .@{eppre}-panel{
    overflow: hidden;
    position: absolute;
    width: 100%;
    bottom: 0px;
    top: 0px;
    overflow: auto;
  }
}
